header.header-wrap
		.header__logo
			p(class="logo__text") coffee 
			.logo__wrap
				+icon("logo")
			p(class="logo__text") maker
		nav.header__nav
			a(href="#nav1" class="header__item") Program
			a(href="#nav2" class="header__item") Gallery
			a(href="#nav3" class="header__item") Reviews
			a(href="#nav4" class="header__item") Partners
			a(href="#nav5" class="header__item") Contact
		.header__phone
			a(href="tel:30996611730" class="header__num") +38 (099) 66-11-730
.banner-wrap
	.banner__stars
		+icon("stars")
	.banner__text
		+icon("arr-left")
		| Intensive program barista training
		+icon("arr-right")
	.banner__title
		h1 Barista Training in 
			span(class="banner-title__word") amsterdam
	.banner__descr
		p On the basis of the company's largest coffee roasters
	.banner__arrow
		+icon("twice-arrow")
	a(href="#section")
		.banner__down
			+icon("arrow")
.parallax_layer1.parallax_layer
	img(class="parallax__img1" src="assets/img/parallax1.png")