.gallery__container#nav2
	.parallax_layer3.parallax_layer
		img(class="parallax__img1" src="assets/img/parallax4.png")
	.parallax_layer4.parallax_layer
		img(class="parallax__img1" src="assets/img/parallax5.png")
	.program__wrap.gallery__wrap.animated.mov(data-animation="bounceInRight")
		.gallery__span
		h2(class="program__title") Gallery 
		.gallery__span.gallery__span_rev
		p(class="program__descr") You yourself are testing the taste benefits of each method and select the type of cooking yourself
	.gallery__carusel.animated.mov(data-animation="bounceInLeft")
		.owl-carousel.owl-theme.slider-one
			.item
				img(src="assets/img/1.jpg")
			.item
				img(src="assets/img/basic.jpg")
			.item
				img(src="assets/img/heder.jpg")
			.item
				img(src="assets/img/1.jpg")
			.item
				img(src="assets/img/1.jpg")
			.item
				img(src="assets/img/1.jpg")
			.item
				img(src="assets/img/1.jpg")
			.item
				img(src="assets/img/basic.jpg")
			.item
				img(src="assets/img/1.jpg")
			.item
				img(src="assets/img/1.jpg")