.testimonal__containe#nav3
	.program__wrap.gallery__wrap.animated.mov(data-animation="bounceInRight")
		h2(class="program__title") Testimonials 
		p(class="program__descr") We have enough patience to teach you the art of coffee
	.gallery__carusel.animated.mov(data-animation="bounceInLeft")
		.owl-carousel.owl-theme.slider-two
			.item__partner
				.item__partner-wrap
					img(src="assets/img/self.jpg")
					+icon("fa")
				.item__parhner-info
					h5 Alex Nikandrov
					p(class="item__part-desc") Our company is grateful for the delicious and freshly roasted coffee in our office every day! Our staff of more than 300 people, appreciate quality and flavor of the coffee, because that would be important for our office staff were every morning refreshed and in a good mood! Recommended!
			.item__partner
				.item__partner-wrap
					img(src="assets/img/self.jpg")
					+icon("fa")
				.item__parhner-info
					h5 Katrin Nikandrov
					p(class="item__part-desc") Our company is grateful for the delicious and freshly roasted coffee in our office every day! Our staff of more than 300 people, appreciate quality and flavor of the coffee, because that would be important for our office staff were every morning refreshed and in a good mood! Recommended!
			.item__partner
				.item__partner-wrap
					img(src="assets/img/self.jpg")
					+icon("fa")
				.item__parhner-info
					h5 Jon Nikandrov
					p(class="item__part-desc") Our company is grateful for the delicious and freshly roasted coffee in our office every day! Our staff of more than 300 people, appreciate quality and flavor of the coffee, because that would be important for our office staff were every morning refreshed and in a good mood! Recommended!
			.item__partner
				.item__partner-wrap
					img(src="assets/img/self.jpg")
					+icon("fa")
				.item__parhner-info
					h5 Mikel Nikandrov
					p(class="item__part-desc") Our company is grateful for the delicious and freshly roasted coffee in our office every day! Our staff of more than 300 people, appreciate quality and flavor of the coffee, because that would be important for our office staff were every morning refreshed and in a good mood! Recommended!
	.gallery__carusel.partners__container#nav4.animated.mov(data-animation="bounceInRight")
		.program__wrap.partners__wrap
			.gallery__span.gallery__span_parner
			h2(class="program__title program__title_patner") Our Partners 
			.gallery__span.gallery__span_rev.gallery__span_parner
		.partner_carusel
			.owl-carousel.owl-theme.slider-three
				.item__partner
					img(src="assets/img/log6.png")
				.item__partner
					img(src="assets/img/log5.png")
				.item__partner
					img(src="assets/img/log4.png")
				.item__partner
					img(src="assets/img/log3.png")
				.item__partner
					img(src="assets/img/log2.png")
				.item__partner
					img(src="assets/img/log1.png")
				.item__partner
					img(src="assets/img/log3.png")
	.callBack_container
		.callBack__wrap#section.animated.mov(data-animation="fadeIn")
			.callBack__left
				img(src="assets/img/bg_form2.png")
			.callBack__right
				h2(class="callBack__title") have questions?
				p(class="callBack__descr") Leave a request and we will contact you shortly
				form(class="callBack__form")
					.callBack__inpt-wrap
						input( class="callBack__inpt" type="text" pattern="[A-Za-zА-Яа-яЁё]{2,15}" name="FirstName" placeholder="Your Name" required)
						input( class="callBack__inpt" placeholder="Phone Number" type="tel" pattern="[0-9]{10,11}" name="phone" required)
					.callBack__btn-wrap
						.callBack__btn-arr
							input( class="callBack__btn" type="submit" value="Send")
							span
								img(src="assets/img/arrow.png")
