@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/Roboto-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad';
  src: url('../fonts/MyriadProRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}