.program-container {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	padding: 50px 0 0 0;
	background:	url("../img/parallax2.png") 0 10% no-repeat,
				url('../img/coffebatle.png') 100% 100% no-repeat,
				url('../img/bg1.jpg') 0 0 repeat;
	background-size: 5%,40%, contain;
	overflow: hidden;
}
.program__wrap {
	display: flex;
	align-items: center;
	align-self: flex-start;
	justify-content: center;
	flex-flow: row wrap;
	width: 100%;
 }
.program__title {
	padding: 20px 0;
	margin: 0;
	text-transform: uppercase;
	align-self: center;
	font-size: 34px;
	letter-spacing:	3px;
}
.program__descr {
	width: 100%;
	flex-grow: 1;
	text-align: center;
	font-size: 11px;
}
.program__course {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 50px 0 50px;
	width: 62%;
}
.course__tab {
	display: flex;
	justify-content: space-around;
    overflow: hidden;
    width: 80%;
    border-bottom: 1px solid #7d7b7a;
	button {
	    float: left;
	    width: 150px;
	    border: none;
	    background-color: inherit;
	    outline: none;
	    cursor: pointer;
	    padding: 14px 16px;
	    transition: 0.4s;
	    color: #adadad;
	    border-bottom: 2px solid rgba(1,1,1,0);
 		&:hover {
    		color: #111;
    		border-bottom: 2px solid rgba(1,1,1,1);
		}
		&.active {
			color: #111;
		    border-bottom: 2px solid rgba(1,1,1,1);
		}	
	}
}
.course__tabcontent {
    display: none;
    width: 100%;
    border-top: none;
    padding: 60px 0 0 0;
}
.course__tab_active {
	display: flex;
}
.basic__sect1-wrap {
	box-sizing: border-box;
	width: 55%;
	padding: 0 5px 0 0;
	z-index: 9999;
	img {
		z-index: 220;
		width: 100%;
	}
}
.sect2__title {
	padding-bottom: 30px;
	&:before {
		content: "Basic";
		font-size: 140px;
		line-height: 1px;
		color: #ccc;
		display: block;	
		text-transform: uppercase;
		position: relative;
		top: -5px;
		left: -120px;
		z-index: -2;
	}
}
.basic__sect2-wrap {
	box-sizing: border-box;
	width: 45%;
	padding: 10px 0px 0 35px;
	z-index: 2222;
}
.basic__descr-wrap {
	display: flex;
	padding: 5px 0;
}
.icon-Forma1, .icon-Forma2 {
	width: 	20px;
	height: 20px;
	padding: 0 10px 0 0;
}
.basic__coast {
	padding: 30px 0 10px;
	font-size: 36px;
}
.basic__registr {
	width: 160px;
	height: 40px;
	background-color: #111;
	line-height: 40px;
	text-align: center;
	border: none;
	border-radius: 3px;
	transition: 0.6s; 
	&:hover {
		background: $golden;
		color: #000;
	}
}
.registr__botton {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
}
.program__column-wrap {
	overflow: visible;
	background-size: contain;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 62%;
	padding-bottom: 100px;
}
.program__column {
	display: flex;
	flex-flow: row wrap;	
	width: 100%;
	border-top: 1px solid #ccc;
	flex-basis: 30%;
	padding: 20px 0 0 0;
	// margin: 0 3%;
	list-style: none;
}
.program-column__list {
	padding: 5px;
	font-size: 12px;
	height: 85%;
	li {
		margin: 0;
		padding: 0;
		line-height: 23px;
		list-style-type: none;
	}
}
.program-col__title {
	display: flex;
	height: 15%;
	align-items: flex-end;
}
.program__tables-wrap {
	padding-top: 50px;
	position: relative;
}
.program__tabl {
	font-size: 11px;
	margin-top: 15px;
	border-collapse: collapse;
	tr,td {
		border: 1px solid black;
	}
	tr {
		padding: 0px;
	}
	td {
		padding: 7px 10px;
	}
	.table__chose1 {
		color: green;
	}
	.table__chose2 {
		color: red
	}
}